
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  padding: 0px 30px;
  justify-content: center;
}

.flexItem {
  width: 300px;
  max-width: 80%;
  height: auto;
  margin: 30px;
}

.image {
  width: 80%;
  max-width: 240px;
  margin: 20px;
}

.previewImgStyle {
  max-width: 150px;
  max-height: 100px;
  margin: 20px;
  vertical-align: middle;
}

.note {
  color: gray;
}

.infoStyle {
  color: deepskyblue;
  margin-right: 5px;
}

.warningStyle {
  color: orange;
  margin-right: 5px;
}

.warningBox {
  margin: 20px;
}
